# Significance Tests
After I found all those differences in Token Counts, Type Counts, TTR, K-Bands, and Adjective Counts, etc.--do they mean anything?

In [72]:
import pandas as pd
import scipy

In [73]:
movie_df = pd.read_pickle(r'C:/Users/cassi/Desktop/Data_Science/Animated-Movie-Gendered-Dialogue/private/all_tagged_dialogue.pkl')

In [74]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13442 entries, 0 to 13441
Data columns (total 19 columns):
Disney_Period       13442 non-null object
Gender              13442 non-null object
Movie               13442 non-null object
Role                13442 non-null object
Song                13442 non-null object
Speaker             13442 non-null object
Speaker_Status      13442 non-null object
Text                13442 non-null object
UTTERANCE_NUMBER    13442 non-null int64
Year                13442 non-null int64
Tokens              13442 non-null object
Types               13442 non-null object
Token_Count         13442 non-null int64
Type_Count          13442 non-null int64
POS                 13442 non-null object
Tag_Freq            13442 non-null object
Adj_Count           13442 non-null int64
Adv_Count           13442 non-null int64
Adj_over_Tokens     13442 non-null float64
dtypes: float64(1), int64(6), object(12)
memory usage: 1.3+ MB

In [76]:
char_df = pd.read_pickle(r'C:/Users/cassi/Desktop/Data_Science/Animated-Movie-Gendered-Dialogue/private/char_tok_type_TTR.pkl')

In [77]:
char_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 632 entries, 0 to 631
Data columns (total 14 columns):
Disney_Period       632 non-null object
Gender              632 non-null object
Movie               632 non-null object
Role                632 non-null object
Speaker             632 non-null object
Speaker_Status      632 non-null object
Total_Tok_Count     632 non-null float64
Total_Toks          632 non-null object
Total_Type_Count    632 non-null float64
Total_Types         632 non-null object
Year                632 non-null object
TTR                 632 non-null float64
G_TTR               632 non-null float64
AVG_K_BAND          600 non-null float64
dtypes: float64(5), object(9)
memory usage: 46.9+ KB

In [4]:
f_movie_df = movie_df[movie_df.Gender == 'f']
m_movie_df = movie_df[movie_df.Gender == 'm']

In [14]:
pro_movie_df = movie_df[movie_df.Role == 'PRO']
ant_movie_df = movie_df[movie_df.Role == 'ANT']
help_movie_df = movie_df[movie_df.Role == 'HELPER']

## Token and Type Stats
### Gender

In [8]:
scipy.stats.ttest_ind(f_movie_df.Token_Count, m_movie_df.Token_Count, equal_var = False)

Ttest_indResult(statistic=-4.094583947758668, pvalue=4.271602422580622e-05)

In [9]:
#Wow, that's a super small p value...BUT, could this be influenced by my sample size?

In [10]:
scipy.stats.ttest_ind(f_movie_df.Type_Count, m_movie_df.Type_Count, equal_var = False)

Ttest_indResult(statistic=-4.923396910028177, pvalue=8.671647557539395e-07)

In [11]:
#An even smaller p-value

### Role

In [15]:
scipy.stats.ttest_ind(pro_movie_df.Token_Count, ant_movie_df.Token_Count, equal_var = False)

Ttest_indResult(statistic=-3.697383277420495, pvalue=0.00022111887110217427)

In [ ]:
#not as big a difference compared to gender, but still significant (if you take p=0.05 to be the threshold)

In [16]:
scipy.stats.ttest_ind(f_movie_df.Type_Count, m_movie_df.Type_Count, equal_var = False)

Ttest_indResult(statistic=-4.923396910028177, pvalue=8.671647557539395e-07)

In [ ]:
#big difference here...

In [17]:
scipy.stats.ttest_ind(pro_movie_df.Command_Count, ant_movie_df.Command_Count, equal_var = False)

Ttest_indResult(statistic=-3.279047799658298, pvalue=0.0010518100913076266)

In [13]:
#not that significant...but this may change when I modify my command stats

#### What about Total Token and Type Counts

In [30]:
f_chars = char_df[char_df.Gender == 'f']
m_chars = char_df[char_df.Gender == 'm']

In [31]:
scipy.stats.ttest_ind(f_chars.Total_Tok_Count, m_chars.Total_Tok_Count, equal_var = False)

Ttest_indResult(statistic=0.5818365410871014, pvalue=0.561135928401851)

In [32]:
#no significant difference here

In [33]:
scipy.stats.ttest_ind(f_chars.Total_Type_Count, m_chars.Total_Type_Count, equal_var = False)

Ttest_indResult(statistic=0.6666518458606242, pvalue=0.5055478790046386)

In [35]:
scipy.stats.ttest_ind(f_chars.TTR, m_chars.TTR, equal_var = False)

Ttest_indResult(statistic=-0.9967546797195583, pvalue=0.31987931875373893)

In [36]:
#nope, no significant difference. what about by role?
pro_chars = char_df[char_df.Role == 'PRO']
ant_chars = char_df[char_df.Role == 'ANT']
helper_chars = char_df[char_df.Role == 'HELPER']

In [37]:
scipy.stats.ttest_ind(pro_chars.TTR, ant_chars.TTR, equal_var = False)
#definite difference here!!

Ttest_indResult(statistic=-4.3639708178868295, pvalue=2.8550625202274174e-05)

The overall difference in TTR between male and female characters isn't significant, but this difference is signficant between roles.

In [57]:
import math

In [59]:
movie_df['G_TTR'] = movie_df.Type_Count / movie_df.Token_Count.map(lambda x: math.sqrt(x))

In [64]:
f_movie_df = movie_df[movie_df.Gender == 'f']
m_movie_df = movie_df[movie_df.Gender == 'm']

In [61]:
scipy.stats.ttest_ind(f_movie_df.G_TTR, m_movie_df.G_TTR, equal_var = False)

Ttest_indResult(statistic=-5.876688918155282, pvalue=4.345523540998084e-09)

In [62]:
movie_df['TTR'] = movie_df.Type_Count / movie_df.Token_Count

In [65]:
scipy.stats.ttest_ind(f_movie_df.TTR, m_movie_df.TTR, equal_var = False)

Ttest_indResult(statistic=5.747565438307308, pvalue=9.365973396130048e-09)

In [67]:
movie_df.groupby('Gender')['TTR'].describe()

         count      mean       std       min       25%  50%  75%  max
Gender
f       4216.0  0.916061  0.126405  0.238095  0.857143  1.0  1.0  1.0
m       8914.0  0.902342  0.130396  0.214286  0.833333  1.0  1.0  1.0
n        312.0  0.887080  0.174888  0.166667  0.833333  1.0  1.0  1.0

In [68]:
movie_df.groupby('Gender')['G_TTR'].describe()

,count,mean,std,min,25%,50%,75%,max
Gender,,,,,,,,
f,4216.0,2.713648,1.007615,0.707107,2.000000,2.645751,3.316625,8.899438
m,8914.0,2.824860,1.022590,0.666667,2.000000,2.672612,3.464102,8.103639
n,312.0,2.439437,0.964550,0.707107,1.632993,2.267787,3.015113,5.353307

I need to look into whether G_TTR or TTR is best for line by line analysis...

A look at role...

In [69]:
ant_movie_df = movie_df[movie_df.Role == 'ANT']
pro_movie_df = movie_df[movie_df.Role == 'PRO']

In [70]:
scipy.stats.ttest_ind(ant_movie_df.TTR, pro_movie_df.TTR, equal_var = False)

Ttest_indResult(statistic=-0.3698928762036763, pvalue=0.7114835463019438)

In [71]:
scipy.stats.ttest_ind(ant_movie_df.G_TTR, pro_movie_df.G_TTR, equal_var = False)

Ttest_indResult(statistic=6.744458564810289, pvalue=1.7929077873139688e-11)

And here for role, line by line, there seems to be no significant difference at all in TTR, but a huge one for G_TTR...

## Adjective Counts

In [39]:
f_movie_df = movie_df[movie_df.Gender == 'f']
m_movie_df = movie_df[movie_df.Gender == 'm']

In [40]:
pro_movie_df = movie_df[movie_df.Role == 'PRO']
ant_movie_df = movie_df[movie_df.Role == 'ANT']
help_movie_df = movie_df[movie_df.Role == 'HELPER']

In [41]:
movie_df.Adj_Count.iloc[0:5]

0    3
1    0
2    2
3    3
4    0
Name: Adj_Count, dtype: int64

In [42]:
scipy.stats.ttest_ind(f_movie_df.Adj_Count, m_movie_df.Adj_Count, equal_var = False)
#seems like there's a pretty significant difference here. But how to know this isn't liked to token count?

Ttest_indResult(statistic=-4.543244469115594, pvalue=5.616147420570722e-06)

In [54]:
scipy.stats.ttest_ind(pro_movie_df.Adj_Count, ant_movie_df.Adj_Count, equal_var = False)

Ttest_indResult(statistic=-3.677489820665925, pvalue=0.00023915590690473518)

In [ ]:
#But there IS a significant difference when it comes to role!

Since there isn't a significant difference between total token counts between female and male characters, why don't we compare total adjective counts?