# Creating a Streamline for 3 Dreamworks Films
From my analysis of white space, I know that three movies are formatted the same way. My messy work can be found [here](LINK!!!) Here is my ordered work for Rise of the Guardians, The Croods, and How to Train Your Dragon 2

In [1]:
import pandas as pd
import re
import pickle

In [4]:
%pprint

Pretty printing has been turned OFF

## 1) Import the Scripts

In [3]:
httyd2 = open(r'C:\Users\cassi\Desktop\Data_Science\Animated-Movie-Gendered-Dialogue\private\imsdb_raw_nov_2015\Animation\howtotrainyourdragon2.txt')
httyd2_script = httyd2.read()
httyd2.close()

rotg = open(r'C:\Users\cassi\Desktop\Data_Science\Animated-Movie-Gendered-Dialogue\private\imsdb_raw_nov_2015\Animation\riseoftheguardians.txt')
rotg_script = rotg.read()
rotg.close()

croods = open(r'C:\Users\cassi\Desktop\Data_Science\Animated-Movie-Gendered-Dialogue\private\imsdb_raw_nov_2015\Animation\croodsthe.txt')
croods_script = croods.read()
croods.close()

Shaving off excess at the beginning of each script, so they begin with the actual plot

In [5]:
httyd2_script = httyd2_script[351:]
rotg_script = rotg_script[222:]
croods_script = croods_script[190:]

## 2) Analyzing White Space/Tidying UP

In [6]:
# A general function for white space analysis
def white_space_count(script_name):
    white_space = re.findall(" {3,}", script_name)
    len_w_s = [len(x) for x in white_space]
    print(len_w_s[:100])
    print(set(len_w_s))
    for num in set(len_w_s):
        print(num, "white spaces appear", len_w_s.count(num), "times")

### HTTYD2 Clean up

In [8]:
white_space_count(httyd2_script)

[11, 11, 25, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 10, 10, 10, 10, 11, 11, 10, 10, 10, 10, 10, 10, 10, 11, 26, 11, 11, 26, 11, 10, 10, 26, 11, 10, 10, 26, 11, 11, 26, 11, 11, 10, 10, 26, 11, 11, 10, 10, 10, 10, 10, 10, 10, 26, 11, 11, 11, 10, 10, 26, 11, 11, 11, 26, 11, 11, 10, 10, 10, 10, 26, 11, 11, 26, 11, 11, 26, 11, 11, 26, 11, 10, 11, 11, 11, 11]
{26, 25, 10, 11}
26 white spaces appear 760 times
25 white spaces appear 9 times
10 white spaces appear 1571 times
11 white spaces appear 1440 times

In [10]:
httyd2_script[:500]

'\n\n           EXT. OPEN SEA - DAY\n\n           Hiccup and Toothless BLUR PAST, leaving a wake that leads...                         \n\n           EXT. BERK - DAY\n\n           (Sequence 0200 - New Berk)\n\n           To the island village of Berk, festively adorned with flags\n\n           and banners. Major new additions alter its familiar skyline.\n\n           HICCUP (V.O.)\n\n           This... is Berk. The best kept\n\n           secret this side of, well,\n\n           anywhere. Granted, it may not look\n\n '

Except for the first line, only speaker names seem to follow 11 white spaces or 26 white spaces.

10 white spaces or 25 white spaces mark scene headers/descriptions.

This script also has pesky "FINAL DRAFT" lines scattered throughout, each preceded by 11 lines. Let's get rid of them.

In [12]:
httyd2_titles = re.findall(r"\n\n           HTTYD 2 \(D. DeBlois\) - FINAL DRAFT - 05/05/14 [0-9]+\.", httyd2_script)
print(len(httyd2_titles))
print(httyd2_titles[:3])

97
['\n\n           HTTYD 2 (D. DeBlois) - FINAL DRAFT - 05/05/14 2.', '\n\n           HTTYD 2 (D. DeBlois) - FINAL DRAFT - 05/05/14 3.', '\n\n           HTTYD 2 (D. DeBlois) - FINAL DRAFT - 05/05/14 4.']

In [13]:
httyd2_script = re.sub(r"\n\n           HTTYD 2 \(D. DeBlois\) - FINAL DRAFT - 05/05/14 [0-9]+\.",'', httyd2_script)

In [14]:
#reanalyze white space
white_space_count(httyd2_script)

[11, 11, 25, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 10, 10, 10, 10, 11, 11, 10, 10, 10, 10, 10, 10, 10, 26, 11, 11, 26, 11, 10, 10, 26, 11, 10, 10, 26, 11, 11, 26, 11, 11, 10, 10, 26, 11, 11, 10, 10, 10, 10, 10, 10, 10, 26, 11, 11, 11, 10, 10, 26, 11, 11, 26, 11, 11, 10, 10, 10, 10, 26, 11, 11, 26, 11, 11, 26, 11, 11, 26, 11, 10, 11, 11, 11, 11, 11, 10]
{26, 25, 10, 11}
26 white spaces appear 760 times
25 white spaces appear 9 times
10 white spaces appear 1571 times
11 white spaces appear 1343 times

In [15]:
print(1440-1343) #should be 97
#to match what we took out

97

### ROTG

In [17]:
white_space_count(rotg_script)

[10, 25, 11, 11, 11, 11, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 10, 10, 11, 11, 11, 11, 11, 10, 10, 10, 10, 10, 10, 11, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 26, 11, 11, 11, 26, 11, 10, 10, 26, 11, 11, 10, 10, 10, 26, 11, 10, 10, 11, 11, 11, 11, 11, 11, 10, 10, 26, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 10, 10, 10, 10]
{26, 25, 10, 11}
26 white spaces appear 1075 times
25 white spaces appear 39 times
10 white spaces appear 2125 times
11 white spaces appear 1873 times

In [18]:
rotg_script[:500]

"\n\n          SEQ. 125 - ALONE IN THE WORLD\n\n                         DARKNESS\n\n           JACK (V.O.)\n\n           Darkness. That's the first thing I\n\n           remember. It was dark, and it was\n\n           cold. And I was scared.\n\n          The silhouette of a body appears as it drifts into a ray of\n\n          light, refracted through water, which turns into...\n\n          A MOON - SEEN IN REFLECTION ON A SHEET OF ICE\n\n          The moonlight intensifies almost magically, and the ice above\n\n     "

This appears to be formatted in the same way as httyd2. It ALSO has pesky markers that need to be removed.

In [19]:
titles = re.findall(r"\n\n           Guardians Screening Script 9/6/12 Avid [0-9]+\.", rotg_script)
print(len(titles))
print(titles[:3])

134
['\n\n           Guardians Screening Script 9/6/12 Avid 2.', '\n\n           Guardians Screening Script 9/6/12 Avid 3.', '\n\n           Guardians Screening Script 9/6/12 Avid 4.']

In [20]:
rotg_script = re.sub(r"\n\n           Guardians Screening Script 9/6/12 Avid [0-9]+\.", '', rotg_script)

In [21]:
#reanalyze white space
white_space_count(rotg_script)

[10, 25, 11, 11, 11, 11, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 10, 10, 11, 11, 11, 11, 11, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 26, 11, 11, 11, 26, 11, 10, 10, 26, 11, 11, 10, 10, 10, 26, 11, 10, 10, 11, 11, 11, 11, 11, 10, 10, 26, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 10, 10, 10, 10, 10, 10]
{26, 25, 10, 11}
26 white spaces appear 1075 times
25 white spaces appear 39 times
10 white spaces appear 2125 times
11 white spaces appear 1739 times

In [22]:
print(1873-1739) #matches the 134 lines we took out

134

### Croods

In [23]:
white_space_count(croods_script)

[10, 25, 10, 10, 25, 10, 10, 26, 11, 11, 11, 10, 10, 10, 10, 26, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 10, 10, 26, 11, 11, 11, 11, 11, 11, 10, 26, 11, 11, 10, 10, 10, 26, 11, 11, 11, 11, 11, 10, 10, 10, 10, 26, 11, 11, 10, 10, 10, 26, 11, 11, 11, 11, 10, 10, 26, 10, 10, 10, 10, 10, 26, 11, 11, 10, 10, 10, 10, 10, 10, 26, 11, 11, 10, 10, 10, 26, 11, 26, 11, 26, 11, 26, 11, 11, 10, 10, 26, 11, 11]
{11, 25, 10, 26}
11 white spaces appear 1156 times
25 white spaces appear 23 times
10 white spaces appear 1364 times
26 white spaces appear 860 times

In [24]:
croods_script[:500]

'\n\n          SEQ. 75 - PROLOGUE\n\n                         FADE IN:\n\n          A cave painting of the Dreamworks logo. Push past the\n\n          moon to the sun. Bright. Beautiful. The sun DISSOLVES\n\n                         TO:\n\n          Cave paintings of a family of cavemen -- we will come to\n\n          know them as The Croods.\n\n                          EEP (V.O.)\n\n           With every sun comes a new day. A new\n\n           beginning. A hope that things will be\n\n           better today than th'

In all these scripts,
* 11 or 26 spaces mark a speaker's name
* 10 or 25 spaces mark a scene header/description

Knowing this, let's streamline this!

WARNING: these aren't perfectly formatted, and some weird lines WILL pop up

## 3) The Method
In this code we,
1) Remove parentheticals (which aren't spoken dialogue)
2) Mark the start of lines
3) Remove fake lines
4) Create a dataframe

In [25]:
# A function to take out parentheticals of the scripts:
def no_parentheses(script):
    new_script = re.sub(r" *\([^\)]*\)", '', script)
    return new_script

In [26]:
#creating a function to mark actual lines:
def create_lines(script):
    id_lines = re.sub(r"\n\n {26}(\b[A-Z]['A-Z ]{1,})+\n\n", r"_NEWLINE_\1_", script)
    id_more_lines = re.sub(r"\n\n {11}([A-Z]['A-Z]{1,}[ ]?){1,4}\n\n", r"_NEWLINE_\1_", id_lines)
    script_lines = id_more_lines.split("_NEWLINE_")
    return script_lines

In [27]:
#removes fake lines embedded in actual lines
def remove_not_lines(script_lines):
    new_script_lines = []
    for line in script_lines:
        new_line = re.sub(r" {25}([A-Z]{3,} )+", r"_NOTLINE_", line)
        if "_NOTLINE_" in new_line:
            new_line = new_line.split("_NOTLINE_")
            new_line = new_line[0]
            new_script_lines.append(new_line)
        else:
            new_script_lines.append(new_line)
    new_new_script_lines = []
    for line in new_script_lines:
        new_line = re.sub("\n\n {10}[\S]", '_HEADER_', line)
        real_line = new_line.split('_HEADER_')[0]
        real_line = re.sub("\n\n", ' ', real_line)
        final_line = re.sub(" {3,}", ' ', real_line)
        new_new_script_lines.append(final_line)
    final_lines = new_new_script_lines[1:]
    return final_lines

In [28]:
#create the dataframe!
def create_DF(final_lines):
    lines_list = []
    for line in final_lines:
        speaker_text_tu = tuple(re.split('_ ', line))
        lines_list.append(speaker_text_tu)
    script_DF = pd.DataFrame(lines_list, columns=["Speaker", "Text"])
    return script_DF

### Processing HTTYD2

In [29]:
httyd2_no_par = no_parentheses(httyd2_script)

In [30]:
httyd2_lines = create_lines(httyd2_no_par)

In [32]:
httyd2_final_lines = remove_not_lines(httyd2_lines)

In [33]:
httyd2_DF = create_DF(httyd2_final_lines)

In [34]:
httyd2_DF.head()

    Speaker                                               Text
0    HICCUP  This... is Berk. The best kept secret this sid...
1    HICCUP  Life here is amazing, just not for the faint o...
2    HICCUP                                     DRAGON RACING!
3  SNOTLOUT        Oh, I'm sorry, Fishlegs! Did you want that?
4  FISHLEGS                             Snotlout! That's mine!

### Processing Rise of the Guardians

In [35]:
rotg_no_par = no_parentheses(rotg_script)

In [36]:
rotg_lines = create_lines(rotg_no_par)

In [37]:
rotg_final_lines = remove_not_lines(rotg_lines)

In [38]:
rotg_DF = create_DF(rotg_final_lines)

In [39]:
rotg_DF.head()

  Speaker                                               Text
0    JACK  Darkness. That's the first thing I remember. I...
1    JACK  But then...then I saw the moon. It was so big ...
2    JACK  Why I was there, and what I was meant to do - ...
3    JACK          Hello. Hello. Good evening, ma'am. Ma'am?
4    JACK     Oh, ah, excuse me, can you tell me where I am?

In [40]:
rotg_DF.tail()

    Speaker                                               Text
925   JAMIE                                              Jack!
926   NORTH                                              Hyah!
927    KIDS                        Woooo! Yeah! Yay! IN SLEIGH
928    JACK  My name is Jack Frost. And I'm a Guardian. How...
929  WHITE_                                               None

In [44]:
#notice that WHITE_ isn't a line: it's from FADE TO WHITE
rotg_DF["Speaker"][929]

'WHITE_'

### Processing The Croods

In [45]:
croods_no_par = no_parentheses(croods_script)

In [46]:
croods_lines = create_lines(croods_no_par)

In [47]:
croods_final_lines = remove_not_lines(croods_lines)

In [48]:
croods_DF = create_DF(croods_final_lines)

In [49]:
croods_DF.head()

  Speaker                                               Text
0     EEP  With every sun comes a new day. A new beginnin...
1     EEP  But not for me. My name's Eep. This, is my fam...
2     EEP  We were the last ones around. There used to be...
3     EEP  Because of my Dad. He was strong... and he fol...
4     EEP  ... the ones painted on the cave walls. Anythi...

In [50]:
croods_DF.tail()

    Speaker                                               Text
767     EEP  And because of my dad, who taught us that anyo...
768    GRUG                                  Release the baby!
769     EEP                                     Well, sort of.
770     EEP                So from now on we'll stay out here.
771     EEP                     Where we can follow the light.

## 4) Pickling the DataFrames

In [51]:
croods_DF.to_pickle(r"C:\Users\cassi\Desktop\Data_Science\Animated-Movie-Gendered-Dialogue\private\croods_lines.pkl")

In [52]:
httyd2_DF.to_pickle(r"C:\Users\cassi\Desktop\Data_Science\Animated-Movie-Gendered-Dialogue\private\httyd2_lines.pkl")

In [53]:
rotg_DF.to_pickle(r"C:\Users\cassi\Desktop\Data_Science\Animated-Movie-Gendered-Dialogue\private\rotg_lines.pkl")