# Cumulative Token, Type, and TTR analysis
One of the supposed features of feminine language is a more complex vocabulary. Is this generally true? Is it true for specific production companies?

In [1]:
import pandas as pd

In [2]:
all_movies_df = pd.read_pickle(r"C:\Users\cassi\Desktop\Data_Science\Animated-Movie-Gendered-Dialogue\private\char_toks.pkl")

In [3]:
all_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 632 entries, 0 to 631
Data columns (total 11 columns):
Disney_Period       632 non-null object
Gender              632 non-null object
Movie               632 non-null object
Role                632 non-null object
Speaker             632 non-null object
Speaker_Status      632 non-null object
Total_Tok_Count     632 non-null float64
Total_Toks          632 non-null object
Total_Type_Count    632 non-null float64
Total_Types         632 non-null object
Year                632 non-null object
dtypes: float64(2), object(9)
memory usage: 32.1+ KB

In [4]:
all_movies_df.groupby('Gender')['Total_Tok_Count'].describe()

        count        mean         std  min   25%   50%    75%     max
Gender
f       139.0  347.848921  554.563700  2.0  10.5  63.0  446.5  2540.0
m       354.0  314.223164  631.755182  2.0  10.0  45.0  269.5  3941.0
n       139.0   20.949640   40.650387  1.0   6.0  10.0   23.0   412.0