## Total Token/Type Stats per Character
Because lines are so short, and therefore not necessarily informative in terms of ttr and k-band, here I will group together a characters total token/type count (in terms of dialogue only)

Note: this code uses the pkl file created [here](https://github.com/Data-Science-for-Linguists-2019/Animated-Movie-Gendered-Dialogue/blob/master/code/Analysis_code/All_Movies_Analysis_Basic.ipynb)

This file creates a new dataframe, which is marked with TTR and further analyzed [here](https://github.com/Data-Science-for-Linguists-2019/Animated-Movie-Gendered-Dialogue/blob/master/code/Analysis_code/Tok_Type_TTR_Analysis.ipynb)

In [1]:
#importing my pickle file
import pandas as pd

In [2]:
movie_df = pd.read_pickle(r"C:/Users/cassi/Desktop/Data_Science/Animated-Movie-Gendered-Dialogue/private/all_movies_toktype.pkl")

In [3]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14096 entries, 0 to 14095
Data columns (total 14 columns):
Disney_Period       14096 non-null object
Gender              14096 non-null object
Movie               14096 non-null object
Role                14096 non-null object
Song                14096 non-null object
Speaker             14096 non-null object
Speaker_Status      14096 non-null object
Text                14096 non-null object
UTTERANCE_NUMBER    14096 non-null int64
Year                14096 non-null int64
Tokens              14096 non-null object
Types               14096 non-null object
Token_Count         14096 non-null int64
Type_Count          14096 non-null int64
dtypes: int64(4), object(10)
memory usage: 991.2+ KB

In [4]:
movie_df = movie_df[movie_df.Song == 'D']

In [5]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13450 entries, 0 to 14095
Data columns (total 14 columns):
Disney_Period       13450 non-null object
Gender              13450 non-null object
Movie               13450 non-null object
Role                13450 non-null object
Song                13450 non-null object
Speaker             13450 non-null object
Speaker_Status      13450 non-null object
Text                13450 non-null object
UTTERANCE_NUMBER    13450 non-null int64
Year                13450 non-null int64
Tokens              13450 non-null object
Types               13450 non-null object
Token_Count         13450 non-null int64
Type_Count          13450 non-null int64
dtypes: int64(4), object(10)
memory usage: 1.0+ MB

In [6]:
char_toks_df = pd.DataFrame(columns=["Disney_Period", "Gender", "Movie", "Role", "Speaker", "Speaker_Status", "Year"])
counter = 0
for movie in movie_df.Movie.unique():
    movie_data = movie_df[movie_df.Movie == movie]
    print("Movie:"+movie)
    char_count = 0
    for char in movie_data.Speaker.unique():
        char_data = movie_data[movie_data.Speaker == char]
        all_toks = char_data['Tokens']
        all_toks_count = char_data['Token_Count'].sum()
        total_toks_list = all_toks.sum()
        char_movie_data = pd.DataFrame([char_data.iloc[0]])
        char_movie_data['Total_Toks'] = [total_toks_list]
        char_movie_data['Total_Tok_Count'] = all_toks_count
        #Now for Types--just create a set of the big list instead of combining all sets
        char_movie_data['Total_Types'] = [set(total_toks_list)]
        char_movie_data['Total_Type_Count'] = len(set(total_toks_list))
        char_movie_data.drop(labels=['Song', 'Text', 'UTTERANCE_NUMBER', 'Tokens', 'Token_Count', 'Types', 'Type_Count'],
                             axis=1, inplace=True)
        char_toks_df = pd.concat([char_toks_df, char_movie_data], axis=0, sort=True, ignore_index = True)
        char_count+=1
    counter +=1    
    print(movie, 'complete!')
    print("This many characters captured!", char_count)
    print(counter)

Movie:Snow White
Snow White complete!
This many characters captured! 15
1
Movie:Cinderella
Cinderella complete!
This many characters captured! 24
2
Movie:Sleeping Beauty
Sleeping Beauty complete!
This many characters captured! 16
3
Movie:The Little Mermaid
The Little Mermaid complete!
This many characters captured! 24
4
Movie:Aladdin
Aladdin complete!
This many characters captured! 28
5
Movie:Beauty and the Beast
Beauty and the Beast complete!
This many characters captured! 28
6
Movie:Pocahontas
Pocahontas complete!
This many characters captured! 17
7
Movie:Mulan
Mulan complete!
This many characters captured! 42
8
Movie:The Princess and the Frog
The Princess and the Frog complete!
This many characters captured! 39
9
Movie:Brave
Brave complete!
This many characters captured! 12
10
Movie:Moana
Moana complete!
This many characters captured! 19
11
Movie:Tangled
Tangled complete!
This many characters captured! 16
12
Movie:Frozen
Frozen complete!
This many characters captured! 60
13
Movie:Antz
Antz complete!
This many characters captured! 56
14
Movie:Shrek
Shrek complete!
This many characters captured! 36
15
Movie:Shrek 3
Shrek 3 complete!
This many characters captured! 70
16
Movie:Kung Fu Panda
Kung Fu Panda complete!
This many characters captured! 30
17
Movie:How to Train Your Dragon
How to Train Your Dragon complete!
This many characters captured! 27
18
Movie:Megamind
Megamind complete!
This many characters captured! 14
19
Movie:Rise of the Guardians
Rise of the Guardians complete!
This many characters captured! 28
20
Movie:The Croods
The Croods complete!
This many characters captured! 12
21
Movie:How to Train Your Dragon 2
How to Train Your Dragon 2 complete!
This many characters captured! 19
22

In [7]:
len(movie_df.Movie.unique()) #all movies done!

22

In [8]:
#did we get all the characters?
movie_df.groupby('Movie', sort=False)['Speaker'].unique().map(len)
#number match up!!!

Movie
Snow White                    15
Cinderella                    24
Sleeping Beauty               16
The Little Mermaid            24
Aladdin                       28
Beauty and the Beast          28
Pocahontas                    17
Mulan                         42
The Princess and the Frog     39
Brave                         12
Moana                         19
Tangled                       16
Frozen                        60
Antz                          56
Shrek                         36
Shrek 3                       70
Kung Fu Panda                 30
How to Train Your Dragon      27
Megamind                      14
Rise of the Guardians         28
The Croods                    12
How to Train Your Dragon 2    19
Name: Speaker, dtype: int64

Now that we have this info by character, let's save it!

In [9]:
char_toks_df.shape #total number of unique characters = 632

(632, 11)

In [10]:
movie_df.groupby('Movie', sort=False)['Speaker'].unique().map(len).sum() #lol, double-double check!

632

In [11]:
char_toks_df.to_pickle(r"C:\Users\cassi\Desktop\Data_Science\Animated-Movie-Gendered-Dialogue\private\char_toks.pkl")